:root {
  --body-color: white;
  --footer-rgb: 248, 249, 250;
}
@font-face {
  font-family: questrial;
  font-style: normal;
  font-weight: 400;
  src: local("Questrial"),
    url(https://fonts.cdnfonts.com/s/12556/Questrial-Regular.woff)
      format("woff");
}
body {
  background-color: var(--body-color);
  font-family: "Questrial", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/*! CSS Used from: https://www.irserver2.eku.edu/Reports/DataPage/assets/index-d4e0eb73.css */
.form-control.header-search {
  color: #fff;
  background-color: #611f34;
  background-repeat: no-repeat;
  padding-left: calc(1.5em + 0.75rem);
  background-position: left calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  box-shadow: inset #091e4240 0 1px 1px, inset #091e4221 0 0 1px 1px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' fill-opacity='0.75' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons Inc. --%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z'/%3E%3C/svg%3E");
}
.form-control.header-search::placeholder {
  opacity: 0.75;
  color: #fff;
}
.form-control.header-search:not(:focus) {
  border-color: #21252980;
}
.eastern-brand-link {
  text-decoration: none;
  color: #fffffff2;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.eastern-brand-link:focus,
.eastern-brand-link:hover {
  color: #fff;
}
.eastern-nav-link {
  text-decoration: none;
  color: #ffffffbf;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.eastern-nav-link:focus,
.eastern-nav-link:hover {
  color: #fff;
}
.eastern-header {
  background-color: #611f34;
  box-shadow: #091e4240 0 1px 1px, #091e4221 0 0 1px 1px;
}
.eku-svg {
  fill-opacity: 0.95;
  transition: fill-opacity 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.eku-svg:focus,
.eku-svg:hover {
  fill-opacity: 1;
}
.picker {
  position: relative;
}
.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.radio-popover {
  left: 0;
  position: absolute;
  top: calc(100% + 2px);
  border-radius: 0.375rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1070;
}
.navbar-toggler-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/*! CSS Used from: https://www.irserver2.eku.edu/Reports/DataPage/assets/index-d4e0eb73.css */
.eastern-footer-list,
.eastern-footer-copyright,
.eastern-footer-link {
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.eastern-footer-list {
  border-color: rgba(var(--footer-rgb), 0.5) !important;
}
.eastern-footer-copyright,
.eastern-footer-link {
  color: rgba(var(--footer-rgb), 0.75) !important;
}
.eastern-footer-link:focus,
.eastern-footer-link:hover {
  color: rgba(var(--footer-rgb), 1) !important;
}
/*! CSS Used from: https://irserver2.eku.edu/reports/datapage/assets/index-d4e0eb73.css */
.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}
.btn-toggle:before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]:before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}
/*! CSS Used from: https://irserver2.eku.edu/reports/datapage/assets/index-d4e0eb73.css */
.transform-align-center-justify-end {
  transform: translate(100%, -50%);
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}
.flip-card.flip .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.offcanvas-btn {
  width: 45px;
  height: 45px;
  transition: all 0.15s ease-in-out;
  border-color: rgba(var(--footer-rgb), 0.5) !important;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.11), 0 0px 2px rgba(0, 0, 0, 0.11),
    0 0px 4px rgba(0, 0, 0, 0.11), 0 0px 8px rgba(0, 0, 0, 0.11),
    0 0px 16px rgba(0, 0, 0, 0.11);
}
@media (max-width: 575.98px) {
  .opacity-xs-25 {
    opacity: 0.25;
  }
  .opacity-xs-25:hover {
    opacity: 1;
  }
}
/*! CSS Used from: Embedded */
.btn-eastern {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #784052;
  --bs-btn-border-color: #784052;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #663646;
  --bs-btn-hover-border-color: #603342;
  --bs-btn-focus-shadow-rgb: 140, 93, 108;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #603342;
  --bs-btn-active-border-color: #5a303e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #784052;
  --bs-btn-disabled-border-color: #784052;
}
.ms-12px {
  margin-left: 12px;
}
/*! CSS Used from: Embedded ; media=all */
@media all {
  .fa-solid {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
  }
  .fa-solid {
    font-family: "Font Awesome 6 Free";
  }
  .fa-lg {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
  }
  .fa-angles-right:before {
    content: "\f101";
  }
  .fa-angles-left:before {
    content: "\f100";
  }
  .fa-solid {
    font-weight: 900;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://ka-f.fontawesome.com/releases/v6.4.0/webfonts/free-fa-regular-400.woff2)
      format("woff2"),
    url(https://ka-f.fontawesome.com/releases/v6.4.0/webfonts/free-fa-regular-400.ttf)
      format("truetype");
}
@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://ka-f.fontawesome.com/releases/v6.4.0/webfonts/free-fa-solid-900.woff2)
      format("woff2"),
    url(https://ka-f.fontawesome.com/releases/v6.4.0/webfonts/free-fa-solid-900.ttf)
      format("truetype");
}
