/*! CSS Used from: https://getbootstrap.com/docs/5.3/assets/css/docs.css */
.bd-example > :last-child {
  margin-bottom: 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}
main a {
  scroll-margin-top: 80px;
  scroll-margin-bottom: 100px;
}
